[submodule "fbrp"]
	path = fbrp
	url = https://github.com/heb12/fbrp
[submodule "biblec"]
	path = biblec
	url = https://github.com/heb12/biblec
[submodule "biblesearch"]
	path = biblesearch
	url = https://github.com/heb12/biblesearch
