[submodule "fbrp"]
	path = fbrp
	url = https://code.heb12.com/Heb12/fbrp
[submodule "biblec"]
	path = biblec
	url = https://code.heb12.com/Heb12/biblec
[submodule "biblesearch"]
	path = biblesearch
	url = https://code.heb12.com/heb12/biblesearch/
